.bg-navbar {
  background-color: #313131;
}

.text-color {
  color: azure;
}

.bg-inicio {
  background-color: #525252;
}

body {
  background-color: #525252;
}

.bg-color-footer {
  background-color: #CA3E47;
}
